[build]
publish = "public"
command = "hugo"

[context.production.environment]
HUGO_VERSION = "0.70.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.branch-deploy.environment]
HUGO_VERSION = "0.70.0"

[context.deploy-preview.environment]
HUGO_VERSION = "0.70.0"

[context.deploy-preview]
command = "hugo -b $DEPLOY_PRIME_URL --buildFuture"

[context.branch-deploy]
command = "hugo -b $DEPLOY_PRIME_URL --buildFuture"


[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = '''
    Content-Security-Policy: 
    default-src * 'self' 'unsafe-inline' 'unsafe-eval' *.fontawesome.com www.google.com platform.twitter.com syndication.twitter.com https://www.google-analytics.com cdnjs.cloudflare.com; 
    font-src 'unsafe-inline' fonts.gstatic.com;
    style-src 'self' 'unsafe-inline' fonts.googleapis.com d33wubrfki0l68.cloudfront.net;
    '''